/* fonts */
@font-face {
    font-family: 'permianseriftypefaceregular';
    src: url('/fonts/PermianSerifTypeface-webfont.eot');
    src: url('/fonts/PermianSerifTypeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PermianSerifTypeface-webfont.woff2') format('woff2'),
         url('/fonts/PermianSerifTypeface-webfont.woff') format('woff'),
         url('/fonts/PermianSerifTypeface-webfont.ttf') format('truetype'),
         url('/fonts/PermianSerifTypeface-webfont.svg#permianseriftypefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('/fonts/ostrich-sans-black.eot');
	src: local('â˜º'), url('/fonts/ostrich-sans-black.woff') format('woff'), url('ostrich-sans-black.ttf') format('truetype'), url('ostrich-sans-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

/* navigation */
nav {
    overflow: hidden;
    font-family: 'Ostrich Sans', Arial, Helvetica, sans-serif;
    background-color: #E0EDE4;
} 
nav ul { 
    list-style-type: none; 
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
nav a {
    display: inline-flex;
    color: #1C3122;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover {
    background-color: #1C3122;
    color: #E0EDE4;
} 
/* .active {
    background-color: #1C3122;
    color: white;
} */

/* header */
header {
    background-color: #1C3122;
    /* padding: 50px 0 15px 0; */
    font-size: 1em;
    margin: 0;
    padding: 0;
}
header a {
    text-decoration: none;
    color: #E0EDE4;
    font-family: 'Ostrich Sans', Arial, Helvetica, sans-serif;
}
header a:hover {
    color: #BEDAC6;
}
header h1 {
    margin: 0;
}

/* main & headings */
main {
    background-color: #E0EDE4;
    display: block;
    overflow: auto;
}
h1 {
    font-family: 'Ostrich Sans', Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: #1C3122;
    padding-left: 50px;
    margin-top: 10px;
}
p {
    font-family: 'permianseriftypefaceregular', Times, serif;
    font-size: 16px;
    color: #1C3122;
    outline: medium solid #1C3122;
    padding: 10px 50px 10px 50px;
    margin: 0;
}
div {
    padding: 10px 50px 10px 50px;
}
ul {
    font-family: 'permianseriftypefaceregular', Times, serif;
    font-size: 16px;
    color: #1C3122;
    padding-left: 100px;
    list-style-type: square;
}
.onefourth {
    float: left;
    width: 25%;
}
.onefourth h1 {
    font-size: 1em;
}
#banner {
    background-image: url(images/banner.jpg);
}
#index {
    padding-left: 30px;
}
#remove {
    outline: none;
}

/* images */
.container {
    display: flex;
    justify-content: space-around;
    background-color: #E0EDE4;
}

/* footer */
footer {
    background-color: #1C3122;
}
footer p {
    font-family: 'permianseriftypefaceregular', Times, serif;
    color: #E0EDE4;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}
footer a:link { 
    color: #E0EDE4; 
}
img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

/* contact */
#wrapper {
    float: left;
    background-color: #1C3122;
    padding-left: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 400px;
}
#wrapper h1 {
    color:#E0EDE4;
}
#wrapper p {
    color: #E0EDE4;
    font-size: 1em;
}
#contact {
    padding-left: 475px;
}

/* coffee and plants */
#coffee {
    padding-left: 400px;
}
#coffee h1 {
    font-size: 3em;
    padding-bottom: 0;
}
form { display: flex;
    flex-direction: column;
    padding: 1em; 
    width: 40%; 
}
input, textarea { 
    margin-bottom: .5em; 
}
.error { font-family: 'permianseriftypefaceregular', Times, serif;
    font-style: italic; font-size: .90em;
    color: #1C3122; margin-left: 1em; }

@media (max-width: 768px) {
    p { 
        outline: none; 
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        background-color: #E0EDE4;
    }
    #coffee {       
        padding-left: 20%;
    }
    #wrapper {
        width: 100%;
        text-align: left;
    }
    #contact {
        padding-left: 50px;
    }
    #banner {
        background-image: url(images/smallbanner.jpg);
    }
}
@media (max-width: 600px) {
    p { 
        outline: none; 
    }
    main img { 
        display: none;
    }
    nav {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #1C3122;
        text-align: center;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        font-size: 1.25em;
        float: none;
        padding: 0;
    }
/*     nav ul li {
        padding: 1% 0 0 0;
        text-align: center;
    } */
    nav a {
        text-decoration: none;
        padding: .2em;
        font-size: 1.25em;
        color: #E0EDE4;
        text-align: center;
    }
    #coffee {
        padding: 0;
    }
    #wrapper {
        /* display: none; */
        width: 100%;
        background-color: #E0EDE4;
        text-align: left;
    }
    #wrapper h1 { color:#1C3122; }
    #wrapper p { color:#1C3122; }
    #contact {
        padding-left: 50px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        background-color: #E0EDE4;
    }
    #banner {
        display: none;
    }
    form {
        width: 80%;
    }
}
@media (min-width: 1200px) {
    nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
/*     header {
        background-image: url(images/icon.png);
        background-repeat: no-repeat;
        background-position: 0%;
    } */
}